<% const list = (locals.errors?.map((error) => error.msg) ||
[]).concat(locals.messages || []); %> <% if(list) { %>
<ul>
  <% list.forEach((item) => { %>
  <li><%= item %></li>
  <% }); %>
</ul>
<% } %>
