<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>
    <% if(locals.user) { %>Hello, <% locals.user.username %>!<% } %>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Log in</a>
  </body>
</html>
